.home {
  background: radial-gradient(white, #ffff00);
}

.progress-script {
  width: 300px;
  margin: 0 auto;
}

.upload-icon {
  font-size: 50px;
  vertical-align: middle;
}

.script-area {
  min-height: 350px;
}

.play {
  display: inline;
  vertical-align: middle;
}

.play-button {
  display: inline;
  border: none;
  background-color: transparent;
  font-size: 20px;
}

.nodecoration { text-decoration: none !important; }

.inline { display: inline; }

.arrow {
  height: 35px;
  width: 35px;
  font-size: 18px;
  text-decoration: none;
  transition: all 1s;
}

.arrow-left {
  border: none;
  border-radius: 1em;
  border-top-right-radius: 0em;
  border-bottom-right-radius: 0em;
}
.arrow-right {
  border: none;
  border-radius: 1em;
  border-top-left-radius: 0em;
  border-bottom-left-radius: 0em;
}

.arrow-home {
  font-size: 18px;
}
