<div class="container-fluid">
  <h2>List all trasaction </h2>
  <div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Value</th>
        <th>Action</th>
        <th>Question</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="balance in balances">
        <th>{{ balance.date }}</th>
        <th>{{ balance.value }}</th>
        <th>{{ balance.action }}</th>
        <th><a style="cursor: pointer" ng-click="changePage(this)">{{balance.actionId}}</a></th>
      </tr>
    </tbody>
  </table>
  </div>
  <br>
  <br>
  <br>
  <br>
  <form class="form-inline" ng-submit="withdrawFunction(valueWithdraw)">
    <div class="form-group">
      <label>how much do you want to withdraw?</label>
      <input min= 0 max={{valueBalance}} step=".50" type="number" ng-change="changeValue(valueWithdraw)" class="form-control" ng-model="valueWithdraw" >
        <button type="submit" class="btn btn-lg btn-primary">WithDraw</button>
    </div>
    <spam>Balance after Withdraw: <span id="spanID">{{valueBalanceChange}}</span><i class="fa fa-euro"></i></spam>

  </form>

  <h2>List all Withdrawal </h2>
  <div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Date Withdrawal</th>
        <th>Value</th>
        <th>Destination</th>
        <th>State</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="Transaction in allTransactions">
        <th>{{ Transaction.date }}</th>
        <th>{{ Transaction.value }}</th>
        <th>{{ Transaction.destination }}</th>
        <th>{{ Transaction.state }}</th>
      </tr>
    </tbody>
  </table>
  </div>
</div>
