<div class="container-fluid" ng-init="creator=[]">
  <div class="row">
    <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8 text-center">
      <h2 class="form-signin-heading">
        Question in the last 30 Days
      </h2>
      <canvas id="line" class="chart chart-line" chart-data="data"
      chart-labels="labels" chart-series="series" chart-options="options"
      chart-dataset-override="datasetOverride" chart-click="onClick">
    </canvas>

      <p class="h2">Tag Used in a Question</p>
      <canvas id="line" class="chart chart-doughnut" chart-data="data2"
      chart-labels="labels2" chart-series="series2" chart-options="options"
      chart-dataset-override="datasetOverride" chart-click="onClick">
      </canvas

    </div>
  </div>
</div>
