<div class="container-fluid" ng-init="creator=[]">
  <div class="row">
    <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8 text-center">
        <h2 class="form-signin-heading"><i class="glyphicon glyphicon-user"></i> Search Creator</h2>
        <h4 class="pull-left">&nbsp; Name Creator:</h4>
        <input type="text" ng-model="nameFind" ng-change="changeName()" class="form-control" placeholder="Username" autofocus>
      <br>


    <div id="Container">
      
      <p id="ContainerLi" ng-repeat="creator in AllCreator"  >
        <button class='btn btn-lg btn-primary btn-block' ng-click=changePage(this)>{{ creator.name }}</button>
      </p>
    </div>

    </div>
  </div>
</div>
