<div class="container-fluid">
  <div class="row">
    <div class="col-sm-offset-2 col-sm-8 col-xs-12 text-center" style="border: 2px solid #ededed">

      <uib-tabset active="curretTab" justified="true">
        <h3 class="pull-left">
          <i class="glyphicon glyphicon-user"></i>
          <span ng-show="!(user.name == null || user.name == '')">{{ user.name }}</span>
        </h3>

        <br><br>
        <br><br>

        <uib-tab index="0" heading="My Script" ng-click="showScripts()">
          <br>

          <div class="pull-right">
            <div class="text-right">
              <a ng-href="#!/my_scripts/p/{{ (from - 20 > 0 ? from-20 : 0) }}"><button class="arrow arrow-left"><span class="glyphicon glyphicon-chevron-left"></span></button></a>
                <h3 class="yellowText inline arrow-home">&nbsp; {{ from + " - " + (from-(-20)) }} &nbsp;</h3>
              <a ng-href="#!/my_scripts/p/{{ 20-(-from) }}"><button class="arrow arrow-right"><span class="glyphicon glyphicon-chevron-right"></span></button></a>
            </div>
          </div>

          <br><br>

          <table class="table table-striped">
            <thead>
              <td><i class="fa fa-code" aria-hidden="true"></i> Script</td>
              <td>Date</td>
            </thead>
            <tbody>
              <tr ng-repeat="script in scripts track by $index">
                <td>
                  <h2 class="text-primary inline">{{ script.path.replace("-" + script.users_id, "") }}</h2>
                  &nbsp;
                  <form method="POST" action="agentsim/livesim" target="_blank" class="inline">
                    <input type="hidden" name="path" ng-value="script.path">
                    <button type="submit" class="text-success play-button">
                      <i class="glyphicon glyphicon-play-circle"></i>
                    </button>
                  </form>
                  &nbsp;
                  <a ng-href="#!/my_scripts/{{ script._id }}">
                    <h4 class="text-info play">
                      <i class="glyphicon glyphicon-edit"></i>
                    </h4>
                  </a>
                </td>
                <td>{{ script.creation.getDate() + "/" + script.creation.getMonth() + "/" + script.creation.getFullYear() }}</td>
              </tr>
            </tobdy>
          </table>

        </uib-tab>

        <uib-tab index="1" heading="Modify script" ng-show="enableModify">
          <br>

          <div class="row">
            <div class="col-sm-offset-8 col-sm-4">
              <form method="POST" action="agentsim/livesim" target="_blank" class="inline">
                <input type="hidden" name="data" ng-value="script">
                <button type="submit" class="play-button">
                  <h2 class="text-success"><i class="glyphicon glyphicon-play-circle play"></i> Preview</h2>
                </button>
              </form>
            </div>
          </div>

          <form ng-submit="modifyScript(scriptName, script)">
            <div class="form-inline">
              <label><h4>Name:</h4></label>
              <div class="form-group">
                <input type="text" class="form-control" ng-model="scriptName" placeholder="name of the script.." required>
              </div>
            </div>

            <br>
            <textarea class="form-control script-area" ng-model="script" required></textarea>

            <br><br>
            <button type="submit" class="btn btn-md btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> Update script</button>
          </form>

          <br><br>

        </uib-tab>

      </uib-tabset>

    </div>
  </div>
</div>
