<div class="container-fluid" ng-init="creator=[]">
  <div class="row">
    <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8 text-center">
        <div class="Question" ng-repeat="question in allQuestion">
          <h3 class="form-signin-heading" style="text-align: left">{{ question.title }}</h3>
          <span style="text-align: right">{{ question.author }}: {{ question.date }}</span>
          <textarea class="form-control" cols="50" rows="8" readonly>{{ question.text }}</textarea>
          <br>

          <div ng-show="(question.reply != 'None')">
            <span>Reply Creator</span>
            <textarea class="form-control" cols="50" rows="4" readonly>{{ question.reply }}</textarea>
          </div>

          <div ng-show="(user.name == question.creator && question.reply == 'None')">
            <form class="form-signin" ng-submit="replyQuestion(this, replyModel)" >
              <textarea ng-model="replyModel" class="form-control" placeholder="What do you want to ask?" cols="50" rows="4" maxlength="260"required/>
              <button class="btn btn-lg btn-primary btn-block" type="submit">Reply To Question</button>
            </form>
            <span>Tag: </span>

          </div>
          <div class= "tagDiv" style="display: inline-block">
            <span  ng-repeat= "tagDB in question.tag">#{{tagDB}}</span>

          <button  class="btn btn-lg btn-primary"  ng-click="openComment(this)" ng-show="(question.commentFlag == true)" >Comment<i class="fa fa-comment" /></button>
          </div>
          <div id="{{question._id}}DIV" hidden = false>
            <div  ng-repeat="comment in allComment[question._id]">
              <span>{{comment.author}} on {{ comment.date}}</span>
              <textarea class="form-control" cols="50" rows="2" readonly>{{ comment.text }}</textarea>
              <span style= "cursor: pointer" ng-show="(comment.like.indexOf(user.name) != -1)" ng-click="sendUnLike(this)"><i class= "fa fa-heart">&nbsp{{ comment.like.length}}</i></span>
              <span style= "cursor: pointer" ng-show="(comment.like.indexOf(user.name) == -1)" ng-click="sendLike(this)"><i class= "fa fa-heart-o">&nbsp{{ comment.like.length}}</i></span>
            </div>
            <form class="form-signin" ng-submit="replyComment(this, commentModel)" >
              <textarea ng-model="commentModel" class="form-control" placeholder="Add your comment" cols="50" rows="2" maxlength="260" required/>
              <button class="btn btn-lg btn-primary btn-block" type="submit">Add Comment</button>
            </form>
          </div>
        </div>
</div>
