<div class="container-fluid" ng-init="creator=[]">
  <div class="row">
    <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8 text-center">
        <div class="Question" ng-repeat="question in allQuestion">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <span class="form-signin-heading pull-left" style="font-size: 200%; display: inline-block !important">{{ question.title }} to <a ng-click="changePage(this)">{{ question.creator}}</a></span>
            </div>
            <div class="col-xs-12 col-sm-6">
              <span class="pull-right" style="display: inline-block !important">{{ question.author }}: {{ question.date }}</span>
            </div>
          </div>
          <textarea class="form-control" cols="50" rows="8" readonly>{{ question.text }}</textarea>
          <br>

          <div ng-show="(question.reply != 'None')">
            <span>Reply Creator</span>
            <textarea class="form-control" cols="50" rows="4" readonly>{{ question.reply }}</textarea>
          </div>

          <div ng-show="(user.name == question.creator && question.reply == 'None')">
            <form class="form-signin" ng-submit="replyQuestion(this, replyModel)" >
              <textarea ng-model="replyModel" class="form-control" placeholder="What do you want to ask?" cols="50" rows="4" maxlength="260"required/>
              <button class="btn btn-lg btn-primary btn-block" type="submit">Reply To Question</button>
            </form>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <span style="font-size: 150%">Tag: </span>
              <span  ng-repeat= "tagDB in question.tag">
                <a style= "cursor: pointer" style="font-size: 200%" ng-click="changePageChartTag(this)"><span style="font-size: 150%">{{tagDB}}</span></a>
              </span>
            </div>
          </div>
          <div id="{{question._id}}DIV" ng-show="(question.commentFlag == true)">
            <div  ng-repeat="comment in allComment[question._id]">
              <span>{{comment.author}} on {{ comment.date}}</span>
              <textarea class="form-control" cols="50" rows="2" readonly>{{ comment.text }}</textarea>
              <span style= "cursor: pointer" ng-show="(comment.like.indexOf(user.name) != -1)" ng-click="sendUnLike(this)"><i class= "fa fa-heart  text-danger">&nbsp{{ comment.like.length}}</i></span>
              <span style= "cursor: pointer" ng-show="(comment.like.indexOf(user.name) == -1)" ng-click="sendLike(this)"><i class= "fa fa-heart-o">&nbsp{{ comment.like.length}}</i></span>
            </div>
            <form class="form-signin" ng-submit="replyComment(this, commentModel)" >
              <textarea ng-model="commentModel" class="form-control" placeholder="Add your comment" cols="50" rows="2" maxlength="260" required/>
              <button class="btn btn-lg btn-primary btn-block" type="submit">Add Comment</button>
            </form>
          </div>
        </div>
</div>
